<div class="alert alert-danger">
  <h1>Inhabitants in Church</h1>
</div>
<hr>

<%= render 'church_court' %>

<hr>
<div class="btn btn-info" > <%= link_to 'Inhabitants list', inhabitants_path %></div>
<div class="btn btn-info"><%= link_to  'Get married', new_wedding_path %> </div>
<br/>
