<div class="alert alert-danger">
  <h1>Smart-Sims in Court</h1>
</div>
<hr>

<%= render 'church_court' %>

<hr>

<%= link_to 'Inhabitants list', inhabitants_path, class: 'btn btn-info' %>
<%= link_to 'Divorce', new_divorce_path, class: 'btn btn-info' %>
<br/>