<div class="alert alert-danger">
  <h1>Smart-Sims in Court</h1>
</div>
<hr>

<%= render 'church_court' %>

<hr>

<div class="btn btn-info" > <%= link_to 'Inhabitants list', inhabitants_path %></div>
<div class="btn btn-info"><%= link_to  'Divorce', new_divorce_path %></div>
<br/>
